.hero-bg{
    background-image:url('../images/main-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


.icon{
    display: flex;
    align-items: center;
    gap: 15px;
}

.img-rounded{
    border-radius: 50%;
}
.bg-green{
    background-color:#59b559;
}

.link-white {
    color: white;
}

.menu-list li {
    margin-top: 5px;
    margin-bottom: 5px;
}