.hero-bg{
    background-image:url('../images/main-bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   

}

.icon{
    display: flex;
    align-items: center;
    gap: 15px;
}